@keyframes show-modal {
    0% {
        top: -100%;
    }

    100% {
        top: 50%;
    }
}

.financialOperation_dialog {
    /* outras propriedades */
    position: fixed;
    top: -100%;
    animation: show-modal 0.3s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.successDiv {
    animation: fadeIn 0.2s ease-out;
}

.errorDiv {
    animation: fadeIn 0.2s ease-out;
}
